<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>James Leeson</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
