<div>
	<h2>this users data </h2>
	<p>
		<h3>Name:</h3>
		{{userFullName}}
		<h3>Pofile Pic:</h3>
		<img src="{{picURL}}" alt="CANNOT FIND PICTURE" width="400" height="400">
		<h3>Birthday:</h3>
		{{userBirthday}}
		<br>
		<a href="http://localhost:3000" class="footer"> Back Home </a>
	</p>
</div>